shadow(r, g, b)
  box-shadow 8px 8px 16px rgba(r, g, b, 0.1), 4px 4px 8px rgba(r, g, b, 0.2)
shadow-hover(r, g, b)
  box-shadow 8px 8px 16px rgba(r, g, b, 0.15), 4px 4px 8px rgba(r, g, b, 0.25)
shadow-active(r, g, b)
  box-shadow 4px 4px 16px rgba(r, g, b, 0.2), 2px 2px 8px rgba(r, g, b, 0.2)
