column-names = 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve'
one = 8.33333%
two = 16.66666%
three = 24.99999%
four = 33.33332%
five = 41.66665%
six = 50%
seven = 58.33331%
eight = 66.66664%
nine = 74.99997%
ten = 88.33333%
eleven = 91.66663%

columns(size)
  .columns.{size}
    {block}

offset-by(size)
  .column.offset-by-{size}
    {block}

offset-brk(size)
  .column.offset-{size}
    {block}

/*–––––––––––––––––––  Grid  ––––––––––––––––––––––––––––*/
.container
  margin 0 auto
  max-width 1200px
  padding 0 24px
  position relative
  width 100%
  &--full
    padding 0

.row
  display flex
  flex-wrap wrap
  padding 16px 0
  width 100%
  margin 0
  &.center-content
    justify-content center

.column, .columns
  flex-grow 1
  flex-basis 100%
  padding 0 8px
  &.align-center
    display flex
    flex-direction column
    align-items center
    justify-content center

for size in column-names
  +columns(size)
    flex-basis convert(size)
    flex-grow 0
  +columns('xs-' + size)
    flex-basis convert(size)
    flex-grow 0
  +offset-by(size)
    margin-left convert(size)
  +offset-brk('xs-' + size)
    margin-left convert(size)

/* For devices larger than 550px */
@media (min-width 540px)
  .container
    width 90%
    padding 0
  for size in column-names
    +columns('sm-' + size)
      flex-basis convert(size)
      flex-grow 0
    +offset-brk('sm-' + size)
      margin-left convert(size)
@media (min-width 720px)
  for size in column-names
    +columns('md-' + size)
      flex-basis convert(size)
      flex-grow 0
    +offset-brk('md-' + size)
      margin-left convert(size)
@media (min-width 960px)
  for size in column-names
    +columns('lg-' + size)
      flex-basis convert(size)
      flex-grow 0
    +offset-brk('lg-' + size)
      margin-left convert(size)
@media (min-width 1140px)
  for size in column-names
    +columns('xl-' + size)
      flex-basis convert(size)
      flex-grow 0
    +offset-brk('xl-' + size)
      margin-left convert(size)
