/*–––––––––––––––––––  Grid  ––––––––––––––––––––––––––––*/
.container
  box-sizing border-box
  margin 0 auto
  max-width 1200px
  padding 0 24px
  position relative
  width 100%
.row
  width 100%
  margin 24px 0
.column, .columns
  box-sizing border-box
  float left
  width 100%

/* For devices larger than 550px */
@media (min-width 550px)
  .container
    width 90%
    padding 0
  .column, .columns
    padding 0 16px
  .one.column, .one.columns
    width 8.33333%
  .two.columns
    width 16.66666%
  .three.columns
    width 24.99999%
  .four.columns
    width 33.33332%
  .five.columns
    width 41.66665%
  .six.columns
    width 50%
  .seven.columns
    width 58.33331%
  .eight.columns
    width 66.66664%
  .nine.columns
    width 74.99997%
  .ten.columns
    width 88.33333%
  .eleven.columns
    width 91.66663%
  .twelve.columns
    margin-left 0
    width 100%
  /* Offsets */
  .offset-by-one.column, .offset-by-one.columns
    margin-left 8.66666666667%
  .offset-by-two.column, .offset-by-two.columns
    margin-left 17.3333333333%
  .offset-by-three.column, .offset-by-three.columns
    margin-left 26%
  .offset-by-four.column, .offset-by-four.columns
    margin-left 34.6666666667%
  .offset-by-five.column, .offset-by-five.columns
    margin-left 43.3333333333%
  .offset-by-six.column, .offset-by-six.columns
    margin-left 52%
  .offset-by-seven.column, .offset-by-seven.columns
    margin-left 60.6666666667%
  .offset-by-eight.column, .offset-by-eight.columns
    margin-left 69.3333333333%
  .offset-by-nine.column, .offset-by-nine.columns
    margin-left 78%
  .offset-by-ten.column, .offset-by-ten.columns
    margin-left 86.6666666667%
  .offset-by-eleven.column, .offset-by-eleven.columns
    margin-left 95.3333333333%

/*–––––––––––––––––––  Clearing  ––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after, .row:after
  clear both
  content ''
  display table
