base-bg = #fcfcfc
black = #303030
danger = #E03E3E
danger-dn1 = #D23D3D
danger-dn2 = #C53C3C
danger-hover = #C53C3C
danger-up1 = #E24D4D
danger-up2 = #E45B5B
danger-active = #E45B5B
dark-bg = #303030
gray-1 = #E8E8E8
gray-2 = #DFDFDF
gray-3 = #D2D2D2
gray-4 = #C0C0C0
gray-5 = #A6A6A6
gray-6 = #6C6C6C
highlight = #0868F0
highlight-dn1 = #0B64E1
highlight-dn2 = #0E60D3
highlight-hover = #0E60D3
highlight-up1 = #1C74F1
highlight-up2 = #2E7FF2
highlight-active = #2E7FF2
success = #6CC00C
success-dn1 = #67B40F
success-dn2 = #63A912
success-hover = #63A912
success-up1 = #78C51F
success-up2 = #83C931
success-active = #83C931
theme = #000000
white = #fcfcfc

:root
  --white white
  --black black
  --theme theme
  --base-bg base-bg
  --dark-bg dark-bg
  --highlight highlight
  --highlight-dn1 highlight-dn1
  --highlight-dn2 highlight-dn2
  --highlight-up1 highlight-up1
  --highlight-up2 highlight-up2
  --gray-1 gray-1
  --gray-2 gray-2
  --gray-3 gray-3
  --gray-4 gray-4
  --gray-5 gray-5
  --gray-6 gray-6
  --success success
  --success-dn1 success-dn1
  --success-dn2 success-dn2
  --success-up1 success-up1
  --success-up2 success-up2
  --danger danger
  --danger-dn1 danger-dn1
  --danger-dn2 danger-dn2
  --danger-up1 danger-up1
  --danger-up2 danger-up2
